.additional-products {
  .base-wrapper;
  .main-wrapper;

  @media @tablet-width {
    margin-top: 65px;
  }

  @media @desktop-width {
    display: flex;
    margin-top: 75px;
    margin-bottom: 86px;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.additional-products__wrapper {
  @media @tablet-width {
    width: 708px;
  }
}

.additional-products__head {
  font-size: 24px;
  line-height: 24px;
  .oswald;
  .lines;
  padding-right: 20px;
  margin-top: 27px;
  margin-bottom: 33px;
  display: inline-block;
  position: relative;

  @media @tablet-width {
    .main-wrapper;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-top: 0;
    margin-left: 7px;
  }

  @media @desktop-width {
    padding-left: 0;
    padding-right: 0;
    margin-left: -2px;
  }
}

.additional-products__list {
  .ul-base-style;

  @media @desktop-width {
    width: 896px;
    min-height: 288px;
  }
}

.additional-products__item {
  @media @mobile-width-only {
    border-top: 1px var(--basic-border-grey) solid;
    margin-bottom: 17px;
  }

  @media @tablet-width {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--basic-grey);
    padding-top: 26px;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 27px;
    height: 139px;
  }

  @media @desktop-width {
    width: 896px;
    justify-content: space-between;
    height: 72px;
    padding: 0;
    align-items: center;
    border-right: none;
    border-left: none;
    flex-wrap: nowrap;
  }
}

.additional-products__item:last-child {
  @media @mobile-width-only {
    border-bottom: 1px var(--basic-border-grey) solid;
    padding-bottom: 20px;
  }
}

.additional-products__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  .oswald;
  color: var(--basic-dark-grey-font);
  margin-bottom: 0;
  margin-top: 13px;
  margin-left: 2px;

  @media @tablet-width {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    margin-left: 0;
    margin-top: 0;
  }

  @media @desktop-width {
    margin: 0;
    width: 200px;
  }
}

.additional-products__stats {
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-grey-font);
  .arial;
  display: flex;
  justify-content: space-between;

  @media @tablet-width {
    width: 50%;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 20px;


    p {
      margin-left: 51px;
      margin-top: 2px;

      @media @desktop-width {
        margin-bottom: 0;
        margin-left: 0;
      }
    }
  }

  @media @desktop-width {
    width: 287px;
    justify-content: space-between;
    margin-left: 82px;
    margin-top: 5px;
  }
}

.additional-products__order-button {
  .base-button;
  font-size: 16px;

  @media @tablet-width {
    width: 100%;
    margin-top: 8px;
  }

  @media @desktop-width {
    width: 244px;
    margin-top: 0;
  }
}

.additional-products__sale {

  margin-top: 39px;
  margin-bottom: 35px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 43px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media @tablet-width {
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-top: 70px;
    margin-bottom: 76px;
    padding-bottom: 0;
    padding-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media @desktop-width {
    width: 245px;
    height: 289px;
    background-size: cover;
    padding-top: 185px;
    padding-bottom: 30px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.additional-products__sale-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: white;
  text-align: center;
  .arial;
  width: 161px;
  position: relative;

  @media @tablet-width {
    margin-left: 42%;
    text-align: left;
  }

  @media @desktop-width {
    margin-left: 0;
    text-align: center;
    margin-top: 5px;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 70px;
    top: -125px;
    left: 52px;

    @media @tablet-width {
      top: -7px;
      left: -333px;
    }

    @media @desktop-width {
      left: 50px;
      top: -125px;
    }
  }
}
