.copyright {
  .ul-base-style;
  display: flex;
  justify-content: space-between;

  @media @mobile-width-only {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media @tablet-width {
    width: 164px;
  }
}

.copyright__link {
  .arial;
  color: var(--basic-grey-font);
  font-style: normal;
  text-decoration: none;

  &:active {
    opacity: 30%;
  }
}


.copyright__logo {
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__svg-logo {
  fill: var(--basic-svg-grey);

  &:hover {
    fill: var(--basic-green);
  }

  &:active {
    fill: var(--basic-green);
    opacity: 30%;
  }
}
