.example {
  background-color: var(--basic-grey);


  @media @tablet-width {
    background: linear-gradient(to top, var(--basic-grey), var(--basic-grey) 38%, white 38%);
    border-top: 1px solid var(--basic-input);
    margin-top: 15px;
    min-height: 1086px;
  }

  @media @desktop-width {
    background: linear-gradient(to top, var(--basic-grey), var(--basic-grey) 95%, white 95%);
    min-height: auto;
    border: none;
  }

  &__only-before {
    &::before {
      position: absolute;
      display: block;
      content: "";

      @media @mobile-width-only {
        background-image: url("../img/before-mobile@1x.png");
        width: 311px;
        height: 232px;
        top: 35px;
        background-size: cover;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/before-mobile@2x.png");
          background-size: contain;
        }
      }

      @media @tablet-width {
        background-image: url("../img/before-half-desktop.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 354px;
        height: 620px;
        top: -250px;
        left: -65px;
      }

      @media @desktop-width {
        left: -95px;
        top: -265px;
      }
    }
  }

  &__only-after {
    &::after {
      position: absolute;
      display: block;
      content: "";

      @media @mobile-width-only {
        background-image: url("../img/after-mobile@1x.png");
        width: 311px;
        height: 232px;
        top: 20px;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/after-mobile@2x.png");
          background-size: contain;
        }
        .visually-hidden;
      }

      @media @tablet-width {
        background-image: url("../img/after-half-desktop.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 354px;
        height: 620px;
        top: -240px;
        left: 288px;
      }

      @media @desktop-width {
        top: -265px;
        left: 258px;
      }
    }
  }
}

.example__base-wrapper {
  .base-wrapper;
  padding-top: 27px;

  @media @tablet-width {
    padding-top: 45px;
  }

  @media @desktop-width {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 462px;
    margin-top: 205px;
  }
}

.example__wrapper {
  &-top {
    .base-wrapper;
    .main-wrapper;

    @media @desktop-width {
      margin: 0;
    }
  }

  &-bottom {
    .base-wrapper;
    padding-bottom: 31px;
    background-color: var(--basic-grey);

    @media @tablet-width {
      margin-top: 307px;
      padding-left: 40px;
      padding-right: 40px;
    }

    @media @desktop-width {
      margin: 0;
      margin-top: 40px;
    }
  }
}

.example__head {
  .oswald;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 36px;

  @media @tablet-width {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }

  @media @desktop-width {
    font-size: 60px;
    line-height: 60px;
    margin-top: -153px;
    margin-bottom: 146px;
    margin-left: 4px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  .arial;
  color: var(--basic-grey-font);
  width: 279px;
  margin-bottom: 42px;

  @media @tablet-width {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 60px;
  }

  @media @desktop-width {
    font-size: 16px;
    line-height: 24px;
    width: 436px;
  }
}

.example__stats-wrapper {
  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
    margin-left: -19px;
  }

  @media @desktop-width {
    width: 370px;
    flex-wrap: wrap;
    margin-top: 78px;
    margin-left: -14px;
  }
}

.example__stats-list {
  .ul-base-style;
  display: flex;
  justify-content: space-around;
}

.example__stats {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media @tablet-width {
    width: 162px;
  }

  &:first-child {
    margin-right: 32px;

    @media @tablet-width {
      margin-right: 42px;
    }
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  .oswald;
  text-transform: uppercase;
  margin-bottom: 5px;

  @media @tablet-width {
    font-size: 30px;
    line-height: 37px;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 12px;
  }

  &:last-child {
    @media @tablet-width {
      transform: translateX(315px);
    }
  }
}

.example__number-discription {
  font-size: 12px;
  line-height: 12px;
  .arial;
  width: 70px;
  text-align: center;
  position: relative;

  @media @tablet-width {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    margin-left: 37px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/example-weight-back.png");
    width: 124px;
    height: 56px;
    top: -45px;
    left: -27px;

    @media @tablet-width {
      background-image: url("../img/weight-back-desktop.png");
      background-repeat: no-repeat;
      width: 165px;
      height: 75px;
      background-size: contain;
      top: -65px;
      left: -18px;
    }
  }
}

.example__cost {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: black;
  .oswald;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    width: 180px;
    text-align: right;
    margin-top: -12px;
  }

  @media @desktop-width {
    display: flex;
    width: 370px;
    justify-content: space-around;
    margin-top: 50px;
  }

  &-name {
    @media @desktop-width {
      transform: translateX(-10px);
    }
  }
}

.example__before-after {
  .ul-base-style;
  padding-top: 305px;
  display: flex;
  justify-content: space-around;
  position: relative;

  @media @tablet-width {
    justify-content: space-between;
    margin-left: 56px;
    margin-right: 62px;
  }

  @media @desktop-width {
    width: 570px;
    margin: 0;
    margin-bottom: 200px;
  }
}

.example__toogle {
  span {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    .oswald;

    @media @tablet-width {
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px var(--basic-input-hover) dotted;
    }
  }
}

.example__toogle--before {
  position: relative;

  &::before {
    @media @mobile-width-only {
      position: absolute;
      display: block;
      content: "";
      width: 84px;
      height: 14px;
      border: 1px solid var(--basic-input-hover);
      border-radius: 6px;
      background-color: white;
      bottom: 3px;
      left: 58px;
    }

    @media @tablet-width {
      position: absolute;
      display: block;
      content: "";
      width: 428px;
      height: 6px;
      border-radius: 6px;
      background-color: var(--basic-input-hover);
      bottom: 3px;
      left: 70px;
      top: 12px;
    }
  }

  &::after {
    @media @mobile-width-only {
      position: absolute;
      display: block;
      content: "";
      width: 35px;
      height: 6px;
      border-radius: 6px;
      background-color: var(--basic-green);
      bottom: 3px;
      top: 7px;
      left: 64px;
      z-index: 2;
    }

    @media @tablet-width {
      position: absolute;
      display: block;
      content: "";
      width: 34px;
      height: 34px;
      background-image: url("../img/slider-control.svg");
      background-size: contain;
      top: -3px;
      left: 268px;
      z-index: 2;
    }
  }
}
