.main-catalog {
  .base-wrapper;
}

.main-catalog__wrapper {
  .main-wrapper;
}

.main-catalog__list {
  .ul-base-style;

  @media @desktop-width {
    display: flex;
    justify-content: space-between;
  }
}

.main-catalog__item {
  background-color: var(--basic-grey);
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  margin-bottom: 20px;
  min-height: 266px;

  @media @tablet-width {
    padding-left: 52px;
    padding-bottom: 55px;
  }

  @media @desktop-width {
    margin-top: 82px;
    width: 570px;
  }
}

.main-catalog__list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-catalog__head {
  font-size: 24px;
  line-height: 37px;
  margin-left: 71px;
  margin-bottom: 29px;
  text-transform: uppercase;
  .oswald;
  position: relative;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
  }

  @media @desktop-width {
    margin-left: 165px;
    margin-bottom: 57px;
  }
}

.main-catalog__cat-slim {
  &::after {
    display: block;
    content: "";
    position: absolute;
    background-color: var(--basic-green);
    border-radius: 50%;

    @media @mobile-width-only {
      width: 50px;
      height: 50px;
      top: -10px;
      left: -70px;
    }

    @media @tablet-width {
      width: 200px;
      height: 200px;
      top: -10px;
      left: 400px;
    }

    @media @desktop-width {
      width: 100px;
      height: 100px;
      top: -40px;
      left: -170px;
    }
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
    top: -15px;
    left: -65px;
    z-index: 50;

    @media @tablet-width {
      width: 140px;
      height: 192px;
      top: -15px;
      left: 430px;
    }

    @media @desktop-width {
      width: 100px;
      height: 100px;
      top: -50px;
      left: -160px;
    }
  }
}

.main-catalog__cat-walk {
  &::after {
    display: block;
    content: "";
    position: absolute;
    background-color: var(--basic-green);
    border-radius: 50%;

    @media @mobile-width-only {
      width: 50px;
      height: 50px;
      top: -10px;
      left: -70px;
    }

    @media @tablet-width {
      width: 200px;
      height: 200px;
      top: -10px;
      left: 400px;
    }

    @media @desktop-width {
      width: 100px;
      height: 100px;
      top: -40px;
      left: -170px;
    }
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
    top: 0;
    left: -80px;
    z-index: 50;

    @media @tablet-width {
      width: 268px;
      height: 112px;
      top: 30px;
      left: 360px;
    }

    @media @desktop-width {
      width: 134px;
      height: 56px;
      top: -20px;
      left: -190px;
    }
  }
}

.main-catalog__text {
  .arial;
  color: var(--basic-grey-font);
  font-size: 14px;
  line-height: 18px;

  @media @tablet-width {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @media @desktop-width {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}

.main-catalog__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  .oswald;
  text-decoration: none;
  color: #000000;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 10px;
    top: 5px;
    left: 100px;
  }
}

.main-catalog__link--pressed:active {
  opacity: 30%;
}
