.main-header {
  height: 480px;
  .base-wrapper;

  @media @mobile-width-only {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }

  @media @tablet-width {
    height: 850px;
  }

  @media @desktop-width {
    max-width: none;
    height: 565px;
    background: linear-gradient(to right, white 50%, var(--basic-green-2) 50%);
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media @mobile-width-only {
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media @tablet-width {
    margin-left: 110px;
  }

  @media @desktop-width {
    .base-wrapper;
    padding-left: 190px;
  }
}

.main-header__head {
  color: white;
  .oswald;
  font-size: 36px;
  line-height: 36px;

  @media @mobile-width-only {
    text-align: center;
    margin-top: 27px;
  }

  @media @tablet-width {
    color: black;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    padding-left: 5px;
    margin-top: 45px;
  }

  @media @desktop-width {
    margin-top: 93px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 720px;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: contain;
      top: -225px;
      left: 530px;
      z-index: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.main-header__text {
  color: white;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  .oswald;
  text-transform: uppercase;

  @media @mobile-width-only {
    margin-top: -280px;
    text-align: center;
  }

  @media @tablet-width {
    color: black;
    font-size: 20px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 6px;
  }
}

.main-header__button {
  .base-button;

  @media @tablet-width {
    width: 244px;
    height: 54px;
    font-size: 20px;
  }
  position: relative;

  @media @mobile-width-only {
    &::after {
      display: block;
      content: "";
      position: absolute;
      background-image: url("../img/index-can-mobile@1x.png");
      background-repeat: no-repeat;
      width: 280px;
      height: 270px;
      top: -270px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-mobile@2x.png");
        background-size: cover;
      }
    }
  }

  @media @tablet-width {
    &::before {
      display: block;
      content: "";
      position: absolute;
      background-image: url("../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      width: 709px;
      height: 609px;
      top: -30px;
      left: -80px;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
        background-size: cover;
      }
    }
  }

  @media @desktop-width {
    &::before {
      display: block;
      content: "";
      position: absolute;
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      width: 552px;
      height: 499px;
      top: -310px;
      left: 370px;
      z-index: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: cover;
      }
    }
  }
}
