.more-items {
  height: 158px;
  display: flex;
  flex-direction: column;

  @media @mobile-width-only {
    .main-wrapper;
    justify-content: flex-end;
    border-bottom: 1px var(--basic-border-grey) solid;
    padding-bottom: 25px;
    margin-top: 54px;
  }
}

.more-items__wrapper {
  @media @tablet-width {
    margin-top: 76px;
    border: 2px solid var(--basic-grey);
    min-height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.more-items__head {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  .oswald;
  margin-bottom: 8px;
  position: relative;

  @media @tablet-width {
    margin-top: 141px;
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    font-weight: normal;
    transform: translateY(10px);
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/icon-plus-mobile.svg");
    width: 30px;
    height: 30px;
    top: -54px;
    left: 45%;

    @media @tablet-width {
      width: 60px;
      height: 60px;
      top: -110px;
      left: 30%;
    }
  }
}

.more-items__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  .arial;
  color: var(--basic-grey-font);
  margin-top: 0;
  margin-bottom: 21px;

  @media @tablet-width {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 65px;
  }
}

.more-items__button {
  .base-button;
  background-color: var(--basic-grey);
  color: var(--basic-grey-font);
  font-size: 16px;

  @media @tablet-width {
    margin-bottom: 25px;
    width: 80%;
  }

  @media @desktop-width {
    width: 169px;
  }
}

.more-items__button--hover:hover {
  background-color: var(--basic-grey-2);
}

.more-items__button--pressed:active {
  color: rgba(68, 68, 68, 0.3);
}
