.order-form {
  .base-wrapper;
  margin-bottom: -12px;

  @media @desktop-width {
    margin-top: -8px;
    margin-bottom: 0;
  }
}

.order-form__base-info input {
  border: 1px solid var(--basic-input);

  &:hover {
    border: 1px solid var(--basic-input-hover);
  }

  &:active {
    border: 2px solid var(--basic-input-active);
  }

  &:focus:required:invalid {
    border: 2px solid var(--basic-input-error);
  }
}

.order-form__base-info li:active {
  opacity: 50%;
}

.order-form__wrapper {
  padding-bottom: 32px;

  @media @tablet-width {
    padding-bottom: 62px;
  }
}

.order-form__head {
  .oswald;
  font-size: 36px;
  line-height: 36px;
  .main-wrapper;
  margin-bottom: 40px;

  @media @tablet-width {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
  }

  @media @desktop-width {
    margin-top: 60px;
  }
}

.order-form__form-wrapper {
  .main-wrapper;


  @media @tablet-width {
    margin-left: 70px;
    margin-right: 65px;
    padding: 0;
  }

  @media @desktop-width {
    .main-wrapper;
    margin-right: 0;
    margin-left: 0;
  }
}

.order-form__underhead-text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  .oswald;
  width: 226px;
  margin-bottom: 40px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    width: 323px;
    margin-bottom: 66px;
    margin-top: 55px;
  }
}

.order-form__info-programm-wrapper {
  margin-bottom: 5px;

  @media @desktop-width {
    display: flex;
    justify-content: space-between;
  }
}

.order-form__info-list,
.order-form__program-type {
  @media @desktop-width {
    width: 47%;
  }
}

.order-form__info-list,
.order-form__contacts-form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-grey-font);
  .ul-base-style;
  .oswald;

  li {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.order-form__info-list label,
.order-form__info-list input,
.order-form__contacts-form label,
.order-form__contacts-form input {
  .oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
  }
}

.order-form__info-list input,
.order-form__contacts-form input {
  flex-grow: 2;
  margin-left: 14px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 10px;

  @media @tablet-width {
    margin-left: 18px;
    padding-left: 18px;
  }
}

.order-form__contacts-form {
  @media @desktop-width {
    display: flex;
    justify-content: space-between;
  }

  li {
    position: relative;

    @media @desktop-width {
      width: 47%;
    }
  }
}

.order-form__svg-mail,
.order-form__svg-phone {
  width: 20px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;

  @media @mobile-width-only {
    top: 19px;
    right: 15px;
  }
}

.order-form__svg-mail {
  @media @mobile-width-only {
    top: 19px;
    right: 15px;
  }
}

.order-form__svg-phone {
  @media @mobile-width-only {
    top: 15px;
    right: 13px;
  }
}

.order-form__contacts-input:focus + .order-form__svg-mail,
.order-form__contacts-input:focus + .order-form__svg-phone {
  fill: var(--basic-green);
}

.order-form__program-type {
  color: var(--basic-dark-grey-font);
  .oswald;
  .ul-base-style;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 5px;
  margin-top: 10px;

  @media @mobile-width-only {
    border-top: 1px var(--basic-border-grey) solid;
    border-bottom: 1px var(--basic-border-grey) solid;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 65px;
  }

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--basic-grey);
    padding: 25px;
    padding-left: 88px;
    padding-top: 20px;
    margin-top: 55px;
  }

  @media @desktop-width {
    margin-top: 0;
  }

  input {
    display: none;
  }

  li {
    margin-bottom: 25px;
    position: relative;

    @media @tablet-width {
      margin-bottom: 4px;
    }
  }
}

.order-form__program {
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/radiobutton.svg");
    left: -45px;
    top: -5px;

    @media @tablet-width {
      top: -2px;
      left: -60px;
      width: 40px;
      height: 40px;
      background-size: contain;
    }
  }
}

.order-form__program-input:checked + label {
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 13.5px;
    height: 13.5px;
    background-image: url("../img/radiobutton-active.svg");
    left: -37px;
    top: 3px;

    @media @tablet-width {
      top: 8px;
      left: -49px;
      width: 18px;
      height: 18px;
      background-size: contain;
    }
  }
}

.order-form__contacts-head {
  font-size: 24px;
  line-height: 26px;
  .oswald;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 75px;
  }

  @media @desktop-width {
    margin-top: 55px;
  }

  .lines;

  &::before {
    left: 70%;

    @media @tablet-width {
      left: 110%;
    }
  }

  &::after {
    @media @tablet-width {
      right: 108%;
    }
  }
}

.order-form__comment-head {
  font-size: 24px;
  line-height: 26px;
  .oswald;
  margin-top: 15px;
  margin-bottom: 34px;
  display: inline-block;
  position: relative;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .lines;

  &::before {
    left: 120%;
  }

  &::after {
    @media @tablet-width {
      right: 120%;
    }
  }
}

.order-form__comment-text {
  width: 100%;
  height: 150px;
  padding: 15px;
  padding-right: 0;

  @media @tablet-width {
    height: 174px;
  }
}

.order-form__comment-text::placeholder {
  .oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-grey-font);

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
  }
}

.order-form__additional-head {
  font-size: 24px;
  line-height: 26px;
  .oswald;
  display: inline-block;
  position: relative;
  margin-bottom: 40px;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .lines;

  &::before {
    left: 120%;
  }

  &::after {
    right: 120%;
  }
}

.order-form__additional-list {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  .oswald;
  .ul-base-style;
  padding-left: 45px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
  }

  li {
    margin-bottom: 25px;

    @media @tablet-width {
      width: 180px;
      margin-bottom: 40px;
    }
  }
}

.order-form__additional-item {
  &:nth-child(odd) {
    @media @tablet-width {
      margin-right: 165px;
    }

    @media @desktop-width {
      margin-right: 145px;
    }
  }

  &:nth-child(even) {
    @media @desktop-width {
      margin-right: 145px;
    }
  }

  &:last-child {
    @media @desktop-width {
      margin-right: 0;
    }
  }
}

.order-form__additional-input {
  display: none;

  & + label {
    position: relative;
  }

  & + label::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/checkbox.svg");
    width: 30px;
    height: 30px;
    left: -45px;
    top: -5px;

    @media @tablet-width {
      top: -8px;
      left: -60px;
      width: 40px;
      height: 40px;
      background-size: contain;
    }
  }

  &:checked + label::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-active.svg");
    width: 18px;
    height: 14px;
    left: -39px;
    top: 4px;

    @media @tablet-width {
      top: 7px;
      left: -50px;
    }
  }
}

.order-form__button-div {
  @media @tablet-width {
    display: flex;
    align-items: center;
  }
}

.order-form__form-button {
  .base-button;
  margin-top: 37px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;

  @media @tablet-width {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-top: 20px;
  }

  @media @desktop-width {
    width: 568px;
    margin-top: 25px;
  }
}

.order-form__notice {
  font-size: 14px;
  line-height: 16px;
  color: black;
  text-align: center;
  .arial;

  @media @tablet-width {
    margin-left: 64px;
    transform: translateY(-5px);
    font-size: 16px;
  }

  @media @desktop-width {
    transform: translateY(5px);
    margin-left: 82px;
  }
}
