.order-form {
  .base-wrapper;
}

.order-form__base-info input {
  border: 1px solid var(--basic-input);

  &:hover {
    border: 1px solid var(--basic-input-hover);
  }

  &:active {
    border: 2px solid var(--basic-input-active);
  }

  &:required:invalid {
    border: 2px solid var(--basic-input-error);
  }
}

.order-form__base-info li:active {
  opacity: 50%;
}

.order-form__wrapper {
  padding-bottom: 32px;
}

.order-form__head {
  .oswald;
  font-size: 36px;
  line-height: 36px;
  .main-wrapper;

  @media @tablet-width {
    font-size: 60px;
    line-height: 60px;
  }

  @media @desktop-width {
    margin-top: 100px;
    margin-left: 70px;
  }
}

.order-form__form-wrapper {
  .main-wrapper;

  @media @tablet-width {
    margin-left: 70px;
    margin-right: 65px;
  }
}

.order-form__underhead-text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  .oswald;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    width: 323px;
    margin-bottom: 66px;
  }
}

.order-form__info-programm-wrapper {
  @media @desktop-width {
    display: flex;
    justify-content: space-between;
  }
}

.order-form__info-list,
.order-form__program-type {
  @media @desktop-width {
    width: 47%;
  }
}

.order-form__info-list,
.order-form__contacts-form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-grey-font);
  .ul-base-style;
  .oswald;

  li {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.order-form__info-list label,
.order-form__info-list input,
.order-form__contacts-form label,
.order-form__contacts-form input {
  .oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
  }
}

.order-form__info-list input,
.order-form__contacts-form input {
  flex-grow: 2;
  margin-left: 14px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 10px;
}

.order-form__contacts-form {
  @media @desktop-width {
    display: flex;
    justify-content: space-between;
  }

  li {
    position: relative;

    @media @desktop-width {
      width: 47%;
    }
  }
}

.order-form__svg-mail,
.order-form__svg-phone {
  width: 20px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;

  @media @mobile-width-only {
    top: 20%;
  }
}


.order-form__contacts-input:focus + .order-form__svg-mail,
.order-form__contacts-input:focus + .order-form__svg-phone {
  fill: var(--basic-green);
}

.order-form__program-type {
  color: var(--basic-dark-grey-font);
  .oswald;
  .ul-base-style;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 5px;

  @media @mobile-width-only {
    border-top: 1px var(--basic-border-grey) solid;
    border-bottom: 1px var(--basic-border-grey) solid;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 65px;
  }

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--basic-grey);
    padding: 25px;
    padding-left: 88px;
  }

  input {
    display: none;
  }

  li {
    margin-bottom: 20px;
    position: relative;

    @media @tablet-width {
      margin-bottom: 0;
    }
  }
}

.order-form__program {
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/radiobutton.svg");
    left: -45px;
    top: -5px;

    @media @tablet-width {
      top: 0;
    }
  }
}

.order-form__program-input:checked + label {
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 13.5px;
    height: 13.5px;
    background-image: url("../img/radiobutton-active.svg");
    left: -37px;
    top: 3px;

    @media @tablet-width {
      top: 8px;
    }
  }
}

.order-form__contacts-head {
  font-size: 24px;
  line-height: 26px;
  .oswald;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
  }

  .lines;
}

.order-form__comment-head {
  font-size: 24px;
  line-height: 26px;
  .oswald;
  margin-bottom: 34px;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
  }

  .lines;
}

.order-form__comment-text {
  width: 100%;
  min-height: 150px;
  padding: 15px;
}

.order-form__additional-head {
  font-size: 24px;
  line-height: 26px;
  .oswald;

  @media @tablet-width {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
  }

  .lines;
}

.order-form__additional-list {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  .oswald;
  .ul-base-style;
  padding-left: 45px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 20px;

    @media @tablet-width {
      width: 260px;
    }
  }
}

.order-form__additional-input {
  display: none;

  & + label {
    position: relative;
  }

  & + label::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/checkbox.svg");
    width: 30px;
    height: 30px;
    left: -45px;
    top: -5px;

    @media @tablet-width {
      top: 0;
    }
  }

  &:checked + label::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-active.svg");
    width: 18px;
    height: 14px;
    left: -39px;
    top: 4px;

    @media @tablet-width {
      top: 8px;
    }
  }
}

.order-form__button-div {
  @media @tablet-width {
    display: flex;
    align-items: center;
  }
}

.order-form__form-button {
  .base-button;
  margin-top: 34px;
  margin-bottom: 21px;

  @media @desktop-width {
    width: 568px;
  }
}

.order-form__notice {
  font-size: 14px;
  line-height: 16px;
  color: black;
  text-align: center;
  .arial;

  @media @tablet-width {
    margin-left: 30px;
  }
}
