.page-footer {
  background-color: var(--basic-grey);
  min-height: 236px;

  @media @tablet-width {
    min-height: 150px;
  }
}

.page-footer__wrapper {
  .base-wrapper;
  padding-top: 39px;

  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media @desktop-width {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-footer__logo {
  text-align: center;
}
