.partnership {
  position: relative;
}

.partnership__wrapper {
  .main-wrapper;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 114px;

  @media (min-width: @tablet-width) {
    min-height: 201px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 201px;
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 999;
    background-color: white;
    padding: 76px;
  }
}

.partnership__head {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  .oswald;
  min-width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
  }
}

.partnership__adress {
  .arial;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-grey-font);

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    text-align: right;
  }
}
