.product-catalog {
  .base-wrapper;

  @media @desktop-width {
    margin-top: -5px;
  }
}

.product-catalog__wrapper {
  @media @tablet-width {
    .main-wrapper;
  }
}

.product-catalog__head {
  .oswald;
  font-size: 36px;
  line-height: 36px;
  .main-wrapper;
  margin-top: 28px;
  margin-bottom: 41px;

  @media @tablet-width {
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
    margin-top: 42px;
    margin-bottom: 85px;
  }

  @media @desktop-width {
    margin-top: 62px;
  }
}

.product-catalog__list {
  .ul-base-style;

  @media @tablet-width {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 511px 511px 511px 511px;
    gap: 60px;
    justify-content: center;
  }

  @media @desktop-width {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 511px 511px;
    row-gap: 63px;
    column-gap: 80px;
  }
}

.product-catalog__item:first-child {
  @media @mobile-width-only {
    border-top: 1px var(--basic-border-grey) solid;
  }
}

.product-catalog__item {
  @media @mobile-width-only {
    border-bottom: 1px var(--basic-border-grey) solid;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media @tablet-width {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to top, var(--basic-grey) 85%, transparent 85%);
  }
}

.product-catalog__item-wrapper {
  @media @mobile-width-only {
    display: flex;
  }

  @media @tablet-width {
    display: flex;
    flex-direction: column;
    width: 251px;
    min-height: 391px;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
}

.product-catalog__item-image-- {
  &small {
    @media @tablet-width {
      max-width: 150%;
      margin-left: -35px;
    }
  }

  &big {
    @media @tablet-width {
      margin-top: -20px;
      max-width: 150%;
      margin-left: -40px;
    }
  }
}

.product-catalog__name-and-stats {
  @media @tablet-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
}

.product-catalog__name {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-dark-grey-font);
  text-transform: uppercase;
  .oswald;
  width: 76px;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 10px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 24px;
    width: 155px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.product-catalog__product-stats {
  color: var(--basic-grey-font);
  .arial;
  font-size: 12px;
  line-height: 15px;

  @media @tablet-width {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
  }
}

.product-catalog__product-stats tr {
  display: flex;
  justify-content: space-between;
  width: 140px;

  @media @tablet-width {
    width: 248px;
    border-bottom: 1px var(--basic-border-grey) solid;
    padding-bottom: 5px;
    margin-top: 5px;
  }


  @media @desktop-width {
    width: 180px;
  }
}

.product-catalog__order-button {
  .base-button;
  margin-bottom: 24px;
  font-size: 16px;
  margin-top: -1px;

  @media @tablet-width {
    margin-bottom: 35px;
  }

  @media @desktop-width {
    width: 168px;
  }
}
