.social-buttons__vkontakte {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}

.social-buttons__instagram {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}

.social-buttons__facebook {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}
