.main-wrapper {
  @media @mobile-width-only {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media @tablet-width {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media @desktop-width {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.base-wrapper {
  margin: 0 auto;

  @media @mobile-width-only {
    max-width: 320px;
  }

  @media @tablet-width {
    max-width: 768px;
  }

  @media @desktop-width {
    max-width: 1440px;
  }
}

.base-button {
  color: white;
  background-color: var(--basic-green);
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
  border: none;
  width: 244px;

  @media @mobile-width-only {
    width: 100%;
  }

  @media @tablet-width {
    width: 248px;
  }

  &:hover {
    background-color: var(--basic-green-2);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.oswald {
  font-family: "oswald", "Arial", sans-serif;
}

.arial {
  font-family: "Arial", sans-serif;
}

.ul-base-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
